<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="transition: .25s;height: 36px;width: 100%;background-color: rgb(155, 177, 240); border-color: white;">
        <div class="container">
            <div class="navbar-header" style="color: #fff;" >
    

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Collectibles", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" , @style = "color: #fff;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="color: #fff;">
                    <li>@Html.ActionLink("Home", "Index", "Home" ,new { area = "" }, new { @style = "color: black;" })</li>
                    <li>@Html.ActionLink("About", "About", "Home",new { area = "" }, new { @style = "color: black;" })</li>
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Collectibles</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
